[submodule "sloorush"]
	path = sloorush
	url = https://github.com/sloorush/dotfiles
[submodule "feniljain"]
	path = feniljain
	url = https://github.com/feniljain/dotfiles
[submodule "darthbenro008"]
	path = darthbenro008
	url = https://github.com/darthbenro008/dotfiles
[submodule "ZiyanK"]
	path = ZiyanK
	url = https://github.com/ZiyanK/dotfiles
